--
-- PostgreSQL database dump
--

\restrict qtl4cVbW1s5CYdMactKbrRf8MMOmXNP6Ka0DBSSlLxKlk6jNM0jqqLE1ejKcDQA

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: NotificationActorType; Type: TYPE; Schema: public; Owner: connsura
--

CREATE TYPE public."NotificationActorType" AS ENUM (
    'USER',
    'SYSTEM',
    'ADMIN'
);


ALTER TYPE public."NotificationActorType" OWNER TO connsura;

--
-- Name: NotificationChannel; Type: TYPE; Schema: public; Owner: connsura
--

CREATE TYPE public."NotificationChannel" AS ENUM (
    'EMAIL',
    'IN_APP'
);


ALTER TYPE public."NotificationChannel" OWNER TO connsura;

--
-- Name: NotificationSeverity; Type: TYPE; Schema: public; Owner: connsura
--

CREATE TYPE public."NotificationSeverity" AS ENUM (
    'INFO',
    'SECURITY',
    'LEGAL'
);


ALTER TYPE public."NotificationSeverity" OWNER TO connsura;

--
-- Name: NotificationStatus; Type: TYPE; Schema: public; Owner: connsura
--

CREATE TYPE public."NotificationStatus" AS ENUM (
    'QUEUED',
    'SENT',
    'DELIVERED',
    'FAILED',
    'SKIPPED'
);


ALTER TYPE public."NotificationStatus" OWNER TO connsura;

--
-- Name: PassportProductSource; Type: TYPE; Schema: public; Owner: connsura
--

CREATE TYPE public."PassportProductSource" AS ENUM (
    'ADMIN_PRODUCT',
    'CUSTOM_PRODUCT'
);


ALTER TYPE public."PassportProductSource" OWNER TO connsura;

--
-- Name: QuestionSource; Type: TYPE; Schema: public; Owner: connsura
--

CREATE TYPE public."QuestionSource" AS ENUM (
    'SYSTEM',
    'CUSTOMER'
);


ALTER TYPE public."QuestionSource" OWNER TO connsura;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminUser; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."AdminUser" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'ADMIN'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AdminUser" OWNER TO connsura;

--
-- Name: AdminUser_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."AdminUser_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."AdminUser_id_seq" OWNER TO connsura;

--
-- Name: AdminUser_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."AdminUser_id_seq" OWNED BY public."AdminUser".id;


--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."AuditLog" (
    id integer NOT NULL,
    "actorId" integer,
    "targetType" text NOT NULL,
    "targetId" text NOT NULL,
    action text NOT NULL,
    diff text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO connsura;

--
-- Name: AuditLog_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."AuditLog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."AuditLog_id_seq" OWNER TO connsura;

--
-- Name: AuditLog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."AuditLog_id_seq" OWNED BY public."AuditLog".id;


--
-- Name: Customer; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."Customer" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    name text NOT NULL,
    "preferredLangs" text NOT NULL,
    "priorInsurance" text NOT NULL,
    coverages text NOT NULL,
    "isDisabled" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "profileData" text DEFAULT '{}'::text NOT NULL
);


ALTER TABLE public."Customer" OWNER TO connsura;

--
-- Name: CustomerQuestion; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."CustomerQuestion" (
    id integer NOT NULL,
    text text NOT NULL,
    normalized text NOT NULL,
    "formName" text NOT NULL,
    "productId" integer,
    "customerId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CustomerQuestion" OWNER TO connsura;

--
-- Name: CustomerQuestion_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."CustomerQuestion_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."CustomerQuestion_id_seq" OWNER TO connsura;

--
-- Name: CustomerQuestion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."CustomerQuestion_id_seq" OWNED BY public."CustomerQuestion".id;


--
-- Name: Customer_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."Customer_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Customer_id_seq" OWNER TO connsura;

--
-- Name: Customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."Customer_id_seq" OWNED BY public."Customer".id;


--
-- Name: Driver; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."Driver" (
    id integer NOT NULL,
    "customerId" integer NOT NULL,
    name text NOT NULL,
    "licenseNo" text NOT NULL,
    "birthDate" timestamp(3) without time zone NOT NULL,
    relationship text NOT NULL
);


ALTER TABLE public."Driver" OWNER TO connsura;

--
-- Name: Driver_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."Driver_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Driver_id_seq" OWNER TO connsura;

--
-- Name: Driver_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."Driver_id_seq" OWNED BY public."Driver".id;


--
-- Name: EmailOtp; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."EmailOtp" (
    id integer NOT NULL,
    email text NOT NULL,
    code text NOT NULL,
    "codeHash" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    "lastSentAt" timestamp(3) without time zone,
    "lastSentIp" text
);


ALTER TABLE public."EmailOtp" OWNER TO connsura;

--
-- Name: EmailOtpRequest; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."EmailOtpRequest" (
    id integer NOT NULL,
    email text NOT NULL,
    ip text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EmailOtpRequest" OWNER TO connsura;

--
-- Name: EmailOtpRequest_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."EmailOtpRequest_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."EmailOtpRequest_id_seq" OWNER TO connsura;

--
-- Name: EmailOtpRequest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."EmailOtpRequest_id_seq" OWNED BY public."EmailOtpRequest".id;


--
-- Name: EmailOtp_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."EmailOtp_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."EmailOtp_id_seq" OWNER TO connsura;

--
-- Name: EmailOtp_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."EmailOtp_id_seq" OWNED BY public."EmailOtp".id;


--
-- Name: ErrorEvent; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."ErrorEvent" (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    level text DEFAULT 'error'::text NOT NULL,
    source text DEFAULT 'frontend'::text NOT NULL,
    message text NOT NULL,
    stack text,
    url text,
    "userAgent" text,
    "componentStack" text,
    release text,
    "sessionId" text,
    fingerprint text,
    metadata text,
    "userId" integer
);


ALTER TABLE public."ErrorEvent" OWNER TO connsura;

--
-- Name: ErrorEvent_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."ErrorEvent_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ErrorEvent_id_seq" OWNER TO connsura;

--
-- Name: ErrorEvent_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."ErrorEvent_id_seq" OWNED BY public."ErrorEvent".id;


--
-- Name: FormSchema; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."FormSchema" (
    id integer NOT NULL,
    slug text NOT NULL,
    schema text NOT NULL,
    "updatedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FormSchema" OWNER TO connsura;

--
-- Name: FormSchema_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."FormSchema_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."FormSchema_id_seq" OWNER TO connsura;

--
-- Name: FormSchema_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."FormSchema_id_seq" OWNED BY public."FormSchema".id;


--
-- Name: LegalDocument; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."LegalDocument" (
    id integer NOT NULL,
    type text NOT NULL,
    version text NOT NULL,
    "contentHash" text NOT NULL,
    content text NOT NULL,
    "publishedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LegalDocument" OWNER TO connsura;

--
-- Name: LegalDocument_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."LegalDocument_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."LegalDocument_id_seq" OWNER TO connsura;

--
-- Name: LegalDocument_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."LegalDocument_id_seq" OWNED BY public."LegalDocument".id;


--
-- Name: NotificationLog; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."NotificationLog" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    channel public."NotificationChannel" NOT NULL,
    "eventType" text NOT NULL,
    severity public."NotificationSeverity" NOT NULL,
    "userId" integer,
    "recipientEmail" text,
    "recipientUserAgentHash" text,
    subject text,
    provider text,
    "providerMessageId" text,
    status public."NotificationStatus" NOT NULL,
    "failureReason" text,
    required boolean DEFAULT true NOT NULL,
    "preferenceSnapshot" jsonb,
    metadata jsonb,
    "actorType" public."NotificationActorType" DEFAULT 'SYSTEM'::public."NotificationActorType" NOT NULL,
    "actorUserId" integer,
    "correlationId" text,
    "dedupeKey" text
);


ALTER TABLE public."NotificationLog" OWNER TO connsura;

--
-- Name: NotificationPreferences; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."NotificationPreferences" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "emailProfileUpdatesEnabled" boolean DEFAULT false NOT NULL,
    "emailFeatureUpdatesEnabled" boolean DEFAULT true NOT NULL,
    "emailMarketingEnabled" boolean DEFAULT false NOT NULL,
    "preferencesVersion" integer,
    "updatedByUserId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."NotificationPreferences" OWNER TO connsura;

--
-- Name: NotificationPreferences_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."NotificationPreferences_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."NotificationPreferences_id_seq" OWNER TO connsura;

--
-- Name: NotificationPreferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."NotificationPreferences_id_seq" OWNED BY public."NotificationPreferences".id;


--
-- Name: PassportCustomQuestion; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."PassportCustomQuestion" (
    id text NOT NULL,
    "productInstanceId" text NOT NULL,
    "questionText" text NOT NULL,
    "inputType" text DEFAULT 'general'::text NOT NULL,
    options jsonb,
    "orderIndex" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PassportCustomQuestion" OWNER TO connsura;

--
-- Name: PassportProductInstance; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."PassportProductInstance" (
    id text NOT NULL,
    "customerId" integer NOT NULL,
    "productSource" public."PassportProductSource" NOT NULL,
    "adminProductId" integer,
    "productName" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."PassportProductInstance" OWNER TO connsura;

--
-- Name: PassportSectionResponse; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."PassportSectionResponse" (
    id text NOT NULL,
    "productInstanceId" text NOT NULL,
    "sectionKey" text NOT NULL,
    "values" jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PassportSectionResponse" OWNER TO connsura;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."Product" (
    id integer NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "formSchema" text DEFAULT '{"sections":[]}'::text NOT NULL
);


ALTER TABLE public."Product" OWNER TO connsura;

--
-- Name: Product_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."Product_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Product_id_seq" OWNER TO connsura;

--
-- Name: Product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."Product_id_seq" OWNED BY public."Product".id;


--
-- Name: ProfileShare; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."ProfileShare" (
    id integer NOT NULL,
    token text NOT NULL,
    "codeHash" text NOT NULL,
    sections text DEFAULT '{}'::text NOT NULL,
    snapshot text DEFAULT '{}'::text NOT NULL,
    editable boolean DEFAULT false NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "pendingEdits" text DEFAULT '{}'::text NOT NULL,
    "pendingStatus" text DEFAULT 'none'::text NOT NULL,
    "pendingAt" timestamp(3) without time zone,
    "recipientName" text,
    "recipientNameNormalized" text,
    "lastAccessedAt" timestamp(3) without time zone,
    "customerId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProfileShare" OWNER TO connsura;

--
-- Name: ProfileShare_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."ProfileShare_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ProfileShare_id_seq" OWNER TO connsura;

--
-- Name: ProfileShare_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."ProfileShare_id_seq" OWNED BY public."ProfileShare".id;


--
-- Name: QuestionBank; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."QuestionBank" (
    id integer NOT NULL,
    text text NOT NULL,
    normalized text NOT NULL,
    "sortOrder" integer,
    source public."QuestionSource" DEFAULT 'SYSTEM'::public."QuestionSource" NOT NULL,
    "inputType" text DEFAULT 'general'::text NOT NULL,
    "selectOptions" text DEFAULT '[]'::text NOT NULL,
    "productId" integer,
    "customerId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "helperText" text
);


ALTER TABLE public."QuestionBank" OWNER TO connsura;

--
-- Name: QuestionBank_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."QuestionBank_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."QuestionBank_id_seq" OWNER TO connsura;

--
-- Name: QuestionBank_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."QuestionBank_id_seq" OWNED BY public."QuestionBank".id;


--
-- Name: SiteContent; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."SiteContent" (
    id integer NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    "updatedBy" text,
    "lastUpdated" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SiteContent" OWNER TO connsura;

--
-- Name: SiteContent_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."SiteContent_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SiteContent_id_seq" OWNER TO connsura;

--
-- Name: SiteContent_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."SiteContent_id_seq" OWNED BY public."SiteContent".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'CUSTOMER'::text NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "passwordChangedAt" timestamp(3) without time zone,
    "emailPending" text,
    "emailPendingRequestedAt" timestamp(3) without time zone,
    "passwordPendingHash" text,
    "passwordPendingRequestedAt" timestamp(3) without time zone,
    "sessionsRevokedAt" timestamp(3) without time zone,
    "totpEnabled" boolean DEFAULT false NOT NULL,
    "totpSecret" text,
    "totpRecoveryId" text,
    "totpBackupCodes" text DEFAULT '[]'::text NOT NULL,
    "totpBackupCodesUpdatedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO connsura;

--
-- Name: UserConsent; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."UserConsent" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    role text NOT NULL,
    "documentType" text NOT NULL,
    version text NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "consentedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "consentItems" text
);


ALTER TABLE public."UserConsent" OWNER TO connsura;

--
-- Name: UserConsent_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."UserConsent_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UserConsent_id_seq" OWNER TO connsura;

--
-- Name: UserConsent_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."UserConsent_id_seq" OWNED BY public."UserConsent".id;


--
-- Name: UserDevice; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."UserDevice" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "deviceId" text NOT NULL,
    "lastIpPrefix" text,
    "lastUserAgent" text,
    "lastSeenAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserDevice" OWNER TO connsura;

--
-- Name: UserDevice_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."UserDevice_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UserDevice_id_seq" OWNER TO connsura;

--
-- Name: UserDevice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."UserDevice_id_seq" OWNED BY public."UserDevice".id;


--
-- Name: UserSession; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."UserSession" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "sessionId" text NOT NULL,
    ip text,
    "ipPrefix" text,
    "userAgent" text,
    city text,
    region text,
    country text,
    "locationLabel" text,
    latitude double precision,
    longitude double precision,
    "lastSeenAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "revokedAt" timestamp(3) without time zone
);


ALTER TABLE public."UserSession" OWNER TO connsura;

--
-- Name: UserSession_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."UserSession_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UserSession_id_seq" OWNER TO connsura;

--
-- Name: UserSession_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."UserSession_id_seq" OWNED BY public."UserSession".id;


--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO connsura;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: Vehicle; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public."Vehicle" (
    id integer NOT NULL,
    "customerId" integer NOT NULL,
    year integer NOT NULL,
    make text NOT NULL,
    model text NOT NULL,
    vin text NOT NULL,
    "primaryUse" text NOT NULL
);


ALTER TABLE public."Vehicle" OWNER TO connsura;

--
-- Name: Vehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: connsura
--

CREATE SEQUENCE public."Vehicle_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Vehicle_id_seq" OWNER TO connsura;

--
-- Name: Vehicle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: connsura
--

ALTER SEQUENCE public."Vehicle_id_seq" OWNED BY public."Vehicle".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: connsura
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO connsura;

--
-- Name: AdminUser id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."AdminUser" ALTER COLUMN id SET DEFAULT nextval('public."AdminUser_id_seq"'::regclass);


--
-- Name: AuditLog id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."AuditLog" ALTER COLUMN id SET DEFAULT nextval('public."AuditLog_id_seq"'::regclass);


--
-- Name: Customer id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Customer" ALTER COLUMN id SET DEFAULT nextval('public."Customer_id_seq"'::regclass);


--
-- Name: CustomerQuestion id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."CustomerQuestion" ALTER COLUMN id SET DEFAULT nextval('public."CustomerQuestion_id_seq"'::regclass);


--
-- Name: Driver id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Driver" ALTER COLUMN id SET DEFAULT nextval('public."Driver_id_seq"'::regclass);


--
-- Name: EmailOtp id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."EmailOtp" ALTER COLUMN id SET DEFAULT nextval('public."EmailOtp_id_seq"'::regclass);


--
-- Name: EmailOtpRequest id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."EmailOtpRequest" ALTER COLUMN id SET DEFAULT nextval('public."EmailOtpRequest_id_seq"'::regclass);


--
-- Name: ErrorEvent id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."ErrorEvent" ALTER COLUMN id SET DEFAULT nextval('public."ErrorEvent_id_seq"'::regclass);


--
-- Name: FormSchema id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."FormSchema" ALTER COLUMN id SET DEFAULT nextval('public."FormSchema_id_seq"'::regclass);


--
-- Name: LegalDocument id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."LegalDocument" ALTER COLUMN id SET DEFAULT nextval('public."LegalDocument_id_seq"'::regclass);


--
-- Name: NotificationPreferences id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."NotificationPreferences" ALTER COLUMN id SET DEFAULT nextval('public."NotificationPreferences_id_seq"'::regclass);


--
-- Name: Product id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Product" ALTER COLUMN id SET DEFAULT nextval('public."Product_id_seq"'::regclass);


--
-- Name: ProfileShare id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."ProfileShare" ALTER COLUMN id SET DEFAULT nextval('public."ProfileShare_id_seq"'::regclass);


--
-- Name: QuestionBank id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."QuestionBank" ALTER COLUMN id SET DEFAULT nextval('public."QuestionBank_id_seq"'::regclass);


--
-- Name: SiteContent id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."SiteContent" ALTER COLUMN id SET DEFAULT nextval('public."SiteContent_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Name: UserConsent id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserConsent" ALTER COLUMN id SET DEFAULT nextval('public."UserConsent_id_seq"'::regclass);


--
-- Name: UserDevice id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserDevice" ALTER COLUMN id SET DEFAULT nextval('public."UserDevice_id_seq"'::regclass);


--
-- Name: UserSession id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserSession" ALTER COLUMN id SET DEFAULT nextval('public."UserSession_id_seq"'::regclass);


--
-- Name: Vehicle id; Type: DEFAULT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Vehicle" ALTER COLUMN id SET DEFAULT nextval('public."Vehicle_id_seq"'::regclass);


--
-- Data for Name: AdminUser; Type: TABLE DATA; Schema: public; Owner: connsura
--

COPY public."AdminUser" (id, email, password, role, "createdAt", "updatedAt") FROM stdin;
1	yoniyona033@gmail.com	$2b$10$tqXVGiPgwRtdPM/HZqMDc.qBLCCSu0G9IdcSDYaqmB/zNHEgBJStO	ADMIN	2026-02-13 17:53:47.354	2026-02-13 17:53:47.354
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: connsura
--

COPY public."Customer" (id, "userId", name, "preferredLangs", "priorInsurance", coverages, "isDisabled", "createdAt", "updatedAt", "profileData") FROM stdin;
2	3	Zikre Gebremariam 	[]	[]	[]	f	2026-02-15 20:26:44.056	2026-02-15 23:32:43.219	{}
1	1	yonathan T balcha	[]	[]	[]	f	2026-02-13 18:00:22.424	2026-02-19 03:36:09.549	{}
26	27	Nate	[]	[]	[]	f	2026-02-24 22:32:32.62	2026-02-24 22:32:32.62	{}
27	28	Yothor Tesfaye Balcha	[]	[]	[]	f	2026-02-26 20:02:53.833	2026-02-26 20:02:53.833	{}
\.


--
-- Data for Name: CustomerQuestion; Type: TABLE DATA; Schema: public; Owner: connsura
--

COPY public."CustomerQuestion" (id, text, normalized, "formName", "productId", "customerId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Driver; Type: TABLE DATA; Schema: public; Owner: connsura
--

COPY public."Driver" (id, "customerId", name, "licenseNo", "birthDate", relationship) FROM stdin;
\.


--
-- Data for Name: EmailOtp; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: EmailOtpRequest; Type: TABLE DATA; Schema: public; Owner: connsura
--

COPY public."EmailOtpRequest" (id, email, ip, "createdAt") FROM stdin;
31	yot4045@gmail.com	196.190.60.22	2026-02-26 20:02:53.884
\.


--
-- Data for Name: ErrorEvent; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: FormSchema; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: LegalDocument; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: NotificationLog; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: NotificationPreferences; Type: TABLE DATA; Schema: public; Owner: connsura
--

COPY public."NotificationPreferences" (id, "userId", "emailProfileUpdatesEnabled", "emailFeatureUpdatesEnabled", "emailMarketingEnabled", "preferencesVersion", "updatedByUserId", "createdAt", "updatedAt") FROM stdin;
2	3	f	t	f	1	3	2026-02-15 20:26:44.063	2026-02-15 20:26:44.063
1	1	f	t	f	7	1	2026-02-15 20:20:28.105	2026-02-22 23:50:39.245
26	27	f	t	f	1	27	2026-02-24 22:32:32.63	2026-02-24 22:32:32.63
27	28	t	t	f	2	28	2026-02-26 20:02:53.838	2026-02-26 20:30:01.624
\.


--
-- Data for Name: PassportCustomQuestion; Type: TABLE DATA; Schema: public; Owner: connsura
--

COPY public."PassportCustomQuestion" (id, "productInstanceId", "questionText", "inputType", options, "orderIndex", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PassportProductInstance; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: PassportSectionResponse; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: ProfileShare; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: QuestionBank; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: SiteContent; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: UserConsent; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: UserDevice; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: UserSession; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Data for Name: Vehicle; Type: TABLE DATA; Schema: public; Owner: connsura
--

COPY public."Vehicle" (id, "customerId", year, make, model, vin, "primaryUse") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: connsura
--



--
-- Name: AdminUser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."AdminUser_id_seq"', 1, true);


--
-- Name: AuditLog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."AuditLog_id_seq"', 1631, true);


--
-- Name: CustomerQuestion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."CustomerQuestion_id_seq"', 28, true);


--
-- Name: Customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."Customer_id_seq"', 27, true);


--
-- Name: Driver_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."Driver_id_seq"', 1, false);


--
-- Name: EmailOtpRequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."EmailOtpRequest_id_seq"', 31, true);


--
-- Name: EmailOtp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."EmailOtp_id_seq"', 31, true);


--
-- Name: ErrorEvent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."ErrorEvent_id_seq"', 23, true);


--
-- Name: FormSchema_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."FormSchema_id_seq"', 4, true);


--
-- Name: LegalDocument_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."LegalDocument_id_seq"', 6, true);


--
-- Name: NotificationPreferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."NotificationPreferences_id_seq"', 27, true);


--
-- Name: Product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."Product_id_seq"', 24, true);


--
-- Name: ProfileShare_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."ProfileShare_id_seq"', 45, true);


--
-- Name: QuestionBank_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."QuestionBank_id_seq"', 289, true);


--
-- Name: SiteContent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."SiteContent_id_seq"', 6, true);


--
-- Name: UserConsent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."UserConsent_id_seq"', 82, true);


--
-- Name: UserDevice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."UserDevice_id_seq"', 35, true);


--
-- Name: UserSession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."UserSession_id_seq"', 36, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."User_id_seq"', 28, true);


--
-- Name: Vehicle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: connsura
--

SELECT pg_catalog.setval('public."Vehicle_id_seq"', 1, false);


--
-- Name: AdminUser AdminUser_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."AdminUser"
    ADD CONSTRAINT "AdminUser_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: CustomerQuestion CustomerQuestion_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."CustomerQuestion"
    ADD CONSTRAINT "CustomerQuestion_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: Driver Driver_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Driver"
    ADD CONSTRAINT "Driver_pkey" PRIMARY KEY (id);


--
-- Name: EmailOtpRequest EmailOtpRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."EmailOtpRequest"
    ADD CONSTRAINT "EmailOtpRequest_pkey" PRIMARY KEY (id);


--
-- Name: EmailOtp EmailOtp_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."EmailOtp"
    ADD CONSTRAINT "EmailOtp_pkey" PRIMARY KEY (id);


--
-- Name: ErrorEvent ErrorEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."ErrorEvent"
    ADD CONSTRAINT "ErrorEvent_pkey" PRIMARY KEY (id);


--
-- Name: FormSchema FormSchema_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."FormSchema"
    ADD CONSTRAINT "FormSchema_pkey" PRIMARY KEY (id);


--
-- Name: LegalDocument LegalDocument_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."LegalDocument"
    ADD CONSTRAINT "LegalDocument_pkey" PRIMARY KEY (id);


--
-- Name: NotificationLog NotificationLog_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."NotificationLog"
    ADD CONSTRAINT "NotificationLog_pkey" PRIMARY KEY (id);


--
-- Name: NotificationPreferences NotificationPreferences_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."NotificationPreferences"
    ADD CONSTRAINT "NotificationPreferences_pkey" PRIMARY KEY (id);


--
-- Name: PassportCustomQuestion PassportCustomQuestion_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."PassportCustomQuestion"
    ADD CONSTRAINT "PassportCustomQuestion_pkey" PRIMARY KEY (id);


--
-- Name: PassportProductInstance PassportProductInstance_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."PassportProductInstance"
    ADD CONSTRAINT "PassportProductInstance_pkey" PRIMARY KEY (id);


--
-- Name: PassportSectionResponse PassportSectionResponse_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."PassportSectionResponse"
    ADD CONSTRAINT "PassportSectionResponse_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: ProfileShare ProfileShare_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."ProfileShare"
    ADD CONSTRAINT "ProfileShare_pkey" PRIMARY KEY (id);


--
-- Name: QuestionBank QuestionBank_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."QuestionBank"
    ADD CONSTRAINT "QuestionBank_pkey" PRIMARY KEY (id);


--
-- Name: SiteContent SiteContent_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."SiteContent"
    ADD CONSTRAINT "SiteContent_pkey" PRIMARY KEY (id);


--
-- Name: UserConsent UserConsent_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserConsent"
    ADD CONSTRAINT "UserConsent_pkey" PRIMARY KEY (id);


--
-- Name: UserDevice UserDevice_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserDevice"
    ADD CONSTRAINT "UserDevice_pkey" PRIMARY KEY (id);


--
-- Name: UserSession UserSession_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserSession"
    ADD CONSTRAINT "UserSession_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Vehicle Vehicle_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Vehicle"
    ADD CONSTRAINT "Vehicle_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AdminUser_email_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "AdminUser_email_key" ON public."AdminUser" USING btree (email);


--
-- Name: CustomerQuestion_customerId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "CustomerQuestion_customerId_idx" ON public."CustomerQuestion" USING btree ("customerId");


--
-- Name: CustomerQuestion_customerId_productId_formName_normalized_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "CustomerQuestion_customerId_productId_formName_normalized_key" ON public."CustomerQuestion" USING btree ("customerId", "productId", "formName", normalized);


--
-- Name: CustomerQuestion_formName_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "CustomerQuestion_formName_idx" ON public."CustomerQuestion" USING btree ("formName");


--
-- Name: CustomerQuestion_normalized_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "CustomerQuestion_normalized_idx" ON public."CustomerQuestion" USING btree (normalized);


--
-- Name: CustomerQuestion_productId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "CustomerQuestion_productId_idx" ON public."CustomerQuestion" USING btree ("productId");


--
-- Name: Customer_userId_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "Customer_userId_key" ON public."Customer" USING btree ("userId");


--
-- Name: EmailOtpRequest_email_createdAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "EmailOtpRequest_email_createdAt_idx" ON public."EmailOtpRequest" USING btree (email, "createdAt");


--
-- Name: EmailOtpRequest_ip_createdAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "EmailOtpRequest_ip_createdAt_idx" ON public."EmailOtpRequest" USING btree (ip, "createdAt");


--
-- Name: EmailOtp_email_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "EmailOtp_email_key" ON public."EmailOtp" USING btree (email);


--
-- Name: ErrorEvent_createdAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "ErrorEvent_createdAt_idx" ON public."ErrorEvent" USING btree ("createdAt");


--
-- Name: ErrorEvent_level_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "ErrorEvent_level_idx" ON public."ErrorEvent" USING btree (level);


--
-- Name: ErrorEvent_source_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "ErrorEvent_source_idx" ON public."ErrorEvent" USING btree (source);


--
-- Name: ErrorEvent_userId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "ErrorEvent_userId_idx" ON public."ErrorEvent" USING btree ("userId");


--
-- Name: FormSchema_slug_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "FormSchema_slug_key" ON public."FormSchema" USING btree (slug);


--
-- Name: LegalDocument_type_publishedAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "LegalDocument_type_publishedAt_idx" ON public."LegalDocument" USING btree (type, "publishedAt");


--
-- Name: LegalDocument_type_version_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "LegalDocument_type_version_key" ON public."LegalDocument" USING btree (type, version);


--
-- Name: NotificationLog_createdAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "NotificationLog_createdAt_idx" ON public."NotificationLog" USING btree ("createdAt");


--
-- Name: NotificationLog_eventType_createdAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "NotificationLog_eventType_createdAt_idx" ON public."NotificationLog" USING btree ("eventType", "createdAt");


--
-- Name: NotificationLog_providerMessageId_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "NotificationLog_providerMessageId_key" ON public."NotificationLog" USING btree ("providerMessageId");


--
-- Name: NotificationLog_status_createdAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "NotificationLog_status_createdAt_idx" ON public."NotificationLog" USING btree (status, "createdAt");


--
-- Name: NotificationLog_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "NotificationLog_userId_createdAt_idx" ON public."NotificationLog" USING btree ("userId", "createdAt");


--
-- Name: NotificationPreferences_userId_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "NotificationPreferences_userId_key" ON public."NotificationPreferences" USING btree ("userId");


--
-- Name: PassportCustomQuestion_productInstanceId_orderIndex_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "PassportCustomQuestion_productInstanceId_orderIndex_idx" ON public."PassportCustomQuestion" USING btree ("productInstanceId", "orderIndex");


--
-- Name: PassportProductInstance_adminProductId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "PassportProductInstance_adminProductId_idx" ON public."PassportProductInstance" USING btree ("adminProductId");


--
-- Name: PassportProductInstance_customerId_updatedAt_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "PassportProductInstance_customerId_updatedAt_idx" ON public."PassportProductInstance" USING btree ("customerId", "updatedAt");


--
-- Name: PassportSectionResponse_productInstanceId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "PassportSectionResponse_productInstanceId_idx" ON public."PassportSectionResponse" USING btree ("productInstanceId");


--
-- Name: PassportSectionResponse_productInstanceId_sectionKey_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "PassportSectionResponse_productInstanceId_sectionKey_key" ON public."PassportSectionResponse" USING btree ("productInstanceId", "sectionKey");


--
-- Name: Product_name_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "Product_name_key" ON public."Product" USING btree (name);


--
-- Name: Product_slug_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "Product_slug_key" ON public."Product" USING btree (slug);


--
-- Name: ProfileShare_token_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "ProfileShare_token_key" ON public."ProfileShare" USING btree (token);


--
-- Name: QuestionBank_customerId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "QuestionBank_customerId_idx" ON public."QuestionBank" USING btree ("customerId");


--
-- Name: QuestionBank_normalized_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "QuestionBank_normalized_key" ON public."QuestionBank" USING btree (normalized);


--
-- Name: QuestionBank_productId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "QuestionBank_productId_idx" ON public."QuestionBank" USING btree ("productId");


--
-- Name: QuestionBank_source_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "QuestionBank_source_idx" ON public."QuestionBank" USING btree (source);


--
-- Name: SiteContent_slug_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "SiteContent_slug_key" ON public."SiteContent" USING btree (slug);


--
-- Name: UserConsent_documentType_version_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "UserConsent_documentType_version_idx" ON public."UserConsent" USING btree ("documentType", version);


--
-- Name: UserConsent_userId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "UserConsent_userId_idx" ON public."UserConsent" USING btree ("userId");


--
-- Name: UserDevice_userId_deviceId_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "UserDevice_userId_deviceId_key" ON public."UserDevice" USING btree ("userId", "deviceId");


--
-- Name: UserDevice_userId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "UserDevice_userId_idx" ON public."UserDevice" USING btree ("userId");


--
-- Name: UserSession_userId_idx; Type: INDEX; Schema: public; Owner: connsura
--

CREATE INDEX "UserSession_userId_idx" ON public."UserSession" USING btree ("userId");


--
-- Name: UserSession_userId_sessionId_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "UserSession_userId_sessionId_key" ON public."UserSession" USING btree ("userId", "sessionId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_totpRecoveryId_key; Type: INDEX; Schema: public; Owner: connsura
--

CREATE UNIQUE INDEX "User_totpRecoveryId_key" ON public."User" USING btree ("totpRecoveryId");


--
-- Name: AuditLog AuditLog_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public."AdminUser"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerQuestion CustomerQuestion_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."CustomerQuestion"
    ADD CONSTRAINT "CustomerQuestion_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerQuestion CustomerQuestion_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."CustomerQuestion"
    ADD CONSTRAINT "CustomerQuestion_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Customer Customer_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Driver Driver_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Driver"
    ADD CONSTRAINT "Driver_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ErrorEvent ErrorEvent_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."ErrorEvent"
    ADD CONSTRAINT "ErrorEvent_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: NotificationLog NotificationLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."NotificationLog"
    ADD CONSTRAINT "NotificationLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: NotificationPreferences NotificationPreferences_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."NotificationPreferences"
    ADD CONSTRAINT "NotificationPreferences_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PassportCustomQuestion PassportCustomQuestion_productInstanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."PassportCustomQuestion"
    ADD CONSTRAINT "PassportCustomQuestion_productInstanceId_fkey" FOREIGN KEY ("productInstanceId") REFERENCES public."PassportProductInstance"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PassportProductInstance PassportProductInstance_adminProductId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."PassportProductInstance"
    ADD CONSTRAINT "PassportProductInstance_adminProductId_fkey" FOREIGN KEY ("adminProductId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PassportProductInstance PassportProductInstance_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."PassportProductInstance"
    ADD CONSTRAINT "PassportProductInstance_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PassportSectionResponse PassportSectionResponse_productInstanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."PassportSectionResponse"
    ADD CONSTRAINT "PassportSectionResponse_productInstanceId_fkey" FOREIGN KEY ("productInstanceId") REFERENCES public."PassportProductInstance"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileShare ProfileShare_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."ProfileShare"
    ADD CONSTRAINT "ProfileShare_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: QuestionBank QuestionBank_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."QuestionBank"
    ADD CONSTRAINT "QuestionBank_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: QuestionBank QuestionBank_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."QuestionBank"
    ADD CONSTRAINT "QuestionBank_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserConsent UserConsent_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserConsent"
    ADD CONSTRAINT "UserConsent_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserDevice UserDevice_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserDevice"
    ADD CONSTRAINT "UserDevice_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserSession UserSession_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."UserSession"
    ADD CONSTRAINT "UserSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Vehicle Vehicle_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: connsura
--

ALTER TABLE ONLY public."Vehicle"
    ADD CONSTRAINT "Vehicle_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO connsura_ro;


--
-- Name: TABLE "AdminUser"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."AdminUser" TO connsura_ro;


--
-- Name: TABLE "AuditLog"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."AuditLog" TO connsura_ro;


--
-- Name: TABLE "Customer"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."Customer" TO connsura_ro;


--
-- Name: TABLE "CustomerQuestion"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."CustomerQuestion" TO connsura_ro;


--
-- Name: TABLE "Driver"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."Driver" TO connsura_ro;


--
-- Name: TABLE "EmailOtp"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."EmailOtp" TO connsura_ro;


--
-- Name: TABLE "EmailOtpRequest"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."EmailOtpRequest" TO connsura_ro;


--
-- Name: TABLE "ErrorEvent"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."ErrorEvent" TO connsura_ro;


--
-- Name: TABLE "FormSchema"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."FormSchema" TO connsura_ro;


--
-- Name: TABLE "LegalDocument"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."LegalDocument" TO connsura_ro;


--
-- Name: TABLE "NotificationLog"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."NotificationLog" TO connsura_ro;


--
-- Name: TABLE "NotificationPreferences"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."NotificationPreferences" TO connsura_ro;


--
-- Name: TABLE "PassportCustomQuestion"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."PassportCustomQuestion" TO connsura_ro;


--
-- Name: TABLE "PassportProductInstance"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."PassportProductInstance" TO connsura_ro;


--
-- Name: TABLE "PassportSectionResponse"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."PassportSectionResponse" TO connsura_ro;


--
-- Name: TABLE "Product"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."Product" TO connsura_ro;


--
-- Name: TABLE "ProfileShare"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."ProfileShare" TO connsura_ro;


--
-- Name: TABLE "QuestionBank"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."QuestionBank" TO connsura_ro;


--
-- Name: TABLE "SiteContent"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."SiteContent" TO connsura_ro;


--
-- Name: TABLE "User"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."User" TO connsura_ro;


--
-- Name: TABLE "UserConsent"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."UserConsent" TO connsura_ro;


--
-- Name: TABLE "UserDevice"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."UserDevice" TO connsura_ro;


--
-- Name: TABLE "UserSession"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."UserSession" TO connsura_ro;


--
-- Name: TABLE "Vehicle"; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public."Vehicle" TO connsura_ro;


--
-- Name: TABLE _prisma_migrations; Type: ACL; Schema: public; Owner: connsura
--

GRANT SELECT ON TABLE public._prisma_migrations TO connsura_ro;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: connsura
--

ALTER DEFAULT PRIVILEGES FOR ROLE connsura IN SCHEMA public GRANT SELECT ON TABLES TO connsura_ro;


--
-- PostgreSQL database dump complete
--

\unrestrict qtl4cVbW1s5CYdMactKbrRf8MMOmXNP6Ka0DBSSlLxKlk6jNM0jqqLE1ejKcDQA

