--
-- PostgreSQL database dump
--

\restrict 8tapceb3jeWJGiTGWbu0AswORm9T7nfHr0hAj7LcELRKF8bLNFe2Pv8fo1sBlqR

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: NotificationActorType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationActorType" AS ENUM (
    'USER',
    'SYSTEM',
    'ADMIN'
);


ALTER TYPE public."NotificationActorType" OWNER TO postgres;

--
-- Name: NotificationChannel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationChannel" AS ENUM (
    'EMAIL',
    'IN_APP'
);


ALTER TYPE public."NotificationChannel" OWNER TO postgres;

--
-- Name: NotificationSeverity; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationSeverity" AS ENUM (
    'INFO',
    'SECURITY',
    'LEGAL'
);


ALTER TYPE public."NotificationSeverity" OWNER TO postgres;

--
-- Name: NotificationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."NotificationStatus" AS ENUM (
    'QUEUED',
    'SENT',
    'DELIVERED',
    'FAILED',
    'SKIPPED'
);


ALTER TYPE public."NotificationStatus" OWNER TO postgres;

--
-- Name: PassportProductSource; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PassportProductSource" AS ENUM (
    'ADMIN_PRODUCT',
    'CUSTOM_PRODUCT'
);


ALTER TYPE public."PassportProductSource" OWNER TO postgres;

--
-- Name: QuestionSource; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestionSource" AS ENUM (
    'SYSTEM',
    'CUSTOMER'
);


ALTER TYPE public."QuestionSource" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminUser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AdminUser" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'ADMIN'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AdminUser" OWNER TO postgres;

--
-- Name: AdminUser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."AdminUser_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."AdminUser_id_seq" OWNER TO postgres;

--
-- Name: AdminUser_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."AdminUser_id_seq" OWNED BY public."AdminUser".id;


--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id integer NOT NULL,
    "actorId" integer,
    "targetType" text NOT NULL,
    "targetId" text NOT NULL,
    action text NOT NULL,
    diff text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: AuditLog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."AuditLog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."AuditLog_id_seq" OWNER TO postgres;

--
-- Name: AuditLog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."AuditLog_id_seq" OWNED BY public."AuditLog".id;


--
-- Name: Customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Customer" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    name text NOT NULL,
    "preferredLangs" text NOT NULL,
    "priorInsurance" text NOT NULL,
    coverages text NOT NULL,
    "isDisabled" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "profileData" text DEFAULT '{}'::text NOT NULL
);


ALTER TABLE public."Customer" OWNER TO postgres;

--
-- Name: CustomerQuestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CustomerQuestion" (
    id integer NOT NULL,
    text text NOT NULL,
    normalized text NOT NULL,
    "formName" text NOT NULL,
    "productId" integer,
    "customerId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CustomerQuestion" OWNER TO postgres;

--
-- Name: CustomerQuestion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."CustomerQuestion_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."CustomerQuestion_id_seq" OWNER TO postgres;

--
-- Name: CustomerQuestion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."CustomerQuestion_id_seq" OWNED BY public."CustomerQuestion".id;


--
-- Name: Customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Customer_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Customer_id_seq" OWNER TO postgres;

--
-- Name: Customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Customer_id_seq" OWNED BY public."Customer".id;


--
-- Name: Driver; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Driver" (
    id integer NOT NULL,
    "customerId" integer NOT NULL,
    name text NOT NULL,
    "licenseNo" text NOT NULL,
    "birthDate" timestamp(3) without time zone NOT NULL,
    relationship text NOT NULL
);


ALTER TABLE public."Driver" OWNER TO postgres;

--
-- Name: Driver_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Driver_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Driver_id_seq" OWNER TO postgres;

--
-- Name: Driver_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Driver_id_seq" OWNED BY public."Driver".id;


--
-- Name: EmailOtp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmailOtp" (
    id integer NOT NULL,
    email text NOT NULL,
    code text NOT NULL,
    "codeHash" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    "lastSentAt" timestamp(3) without time zone,
    "lastSentIp" text
);


ALTER TABLE public."EmailOtp" OWNER TO postgres;

--
-- Name: EmailOtpRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmailOtpRequest" (
    id integer NOT NULL,
    email text NOT NULL,
    ip text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EmailOtpRequest" OWNER TO postgres;

--
-- Name: EmailOtpRequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."EmailOtpRequest_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."EmailOtpRequest_id_seq" OWNER TO postgres;

--
-- Name: EmailOtpRequest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."EmailOtpRequest_id_seq" OWNED BY public."EmailOtpRequest".id;


--
-- Name: EmailOtp_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."EmailOtp_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."EmailOtp_id_seq" OWNER TO postgres;

--
-- Name: EmailOtp_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."EmailOtp_id_seq" OWNED BY public."EmailOtp".id;


--
-- Name: ErrorEvent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ErrorEvent" (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    level text DEFAULT 'error'::text NOT NULL,
    source text DEFAULT 'frontend'::text NOT NULL,
    message text NOT NULL,
    stack text,
    url text,
    "userAgent" text,
    "componentStack" text,
    release text,
    "sessionId" text,
    fingerprint text,
    metadata text,
    "userId" integer
);


ALTER TABLE public."ErrorEvent" OWNER TO postgres;

--
-- Name: ErrorEvent_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."ErrorEvent_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ErrorEvent_id_seq" OWNER TO postgres;

--
-- Name: ErrorEvent_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."ErrorEvent_id_seq" OWNED BY public."ErrorEvent".id;


--
-- Name: FormSchema; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FormSchema" (
    id integer NOT NULL,
    slug text NOT NULL,
    schema text NOT NULL,
    "updatedBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FormSchema" OWNER TO postgres;

--
-- Name: FormSchema_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."FormSchema_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."FormSchema_id_seq" OWNER TO postgres;

--
-- Name: FormSchema_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."FormSchema_id_seq" OWNED BY public."FormSchema".id;


--
-- Name: LegalDocument; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LegalDocument" (
    id integer NOT NULL,
    type text NOT NULL,
    version text NOT NULL,
    "contentHash" text NOT NULL,
    content text NOT NULL,
    "publishedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LegalDocument" OWNER TO postgres;

--
-- Name: LegalDocument_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."LegalDocument_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."LegalDocument_id_seq" OWNER TO postgres;

--
-- Name: LegalDocument_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."LegalDocument_id_seq" OWNED BY public."LegalDocument".id;


--
-- Name: NotificationLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."NotificationLog" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    channel public."NotificationChannel" NOT NULL,
    "eventType" text NOT NULL,
    severity public."NotificationSeverity" NOT NULL,
    "userId" integer,
    "recipientEmail" text,
    "recipientUserAgentHash" text,
    subject text,
    provider text,
    "providerMessageId" text,
    status public."NotificationStatus" NOT NULL,
    "failureReason" text,
    required boolean DEFAULT true NOT NULL,
    "preferenceSnapshot" jsonb,
    metadata jsonb,
    "actorType" public."NotificationActorType" DEFAULT 'SYSTEM'::public."NotificationActorType" NOT NULL,
    "actorUserId" integer,
    "correlationId" text,
    "dedupeKey" text
);


ALTER TABLE public."NotificationLog" OWNER TO postgres;

--
-- Name: NotificationPreferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."NotificationPreferences" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "emailProfileUpdatesEnabled" boolean DEFAULT false NOT NULL,
    "emailFeatureUpdatesEnabled" boolean DEFAULT true NOT NULL,
    "emailMarketingEnabled" boolean DEFAULT false NOT NULL,
    "preferencesVersion" integer,
    "updatedByUserId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."NotificationPreferences" OWNER TO postgres;

--
-- Name: NotificationPreferences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."NotificationPreferences_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."NotificationPreferences_id_seq" OWNER TO postgres;

--
-- Name: NotificationPreferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."NotificationPreferences_id_seq" OWNED BY public."NotificationPreferences".id;


--
-- Name: PassportCustomQuestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PassportCustomQuestion" (
    id text NOT NULL,
    "productInstanceId" text NOT NULL,
    "questionText" text NOT NULL,
    "inputType" text DEFAULT 'general'::text NOT NULL,
    options jsonb,
    "orderIndex" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PassportCustomQuestion" OWNER TO postgres;

--
-- Name: PassportProductInstance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PassportProductInstance" (
    id text NOT NULL,
    "customerId" integer NOT NULL,
    "productSource" public."PassportProductSource" NOT NULL,
    "adminProductId" integer,
    "productName" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."PassportProductInstance" OWNER TO postgres;

--
-- Name: PassportSectionResponse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PassportSectionResponse" (
    id text NOT NULL,
    "productInstanceId" text NOT NULL,
    "sectionKey" text NOT NULL,
    "values" jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PassportSectionResponse" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id integer NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "formSchema" text DEFAULT '{"sections":[]}'::text NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: Product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Product_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Product_id_seq" OWNER TO postgres;

--
-- Name: Product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Product_id_seq" OWNED BY public."Product".id;


--
-- Name: ProfileShare; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProfileShare" (
    id integer NOT NULL,
    token text NOT NULL,
    "codeHash" text NOT NULL,
    sections text DEFAULT '{}'::text NOT NULL,
    snapshot text DEFAULT '{}'::text NOT NULL,
    editable boolean DEFAULT false NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    "pendingEdits" text DEFAULT '{}'::text NOT NULL,
    "pendingStatus" text DEFAULT 'none'::text NOT NULL,
    "pendingAt" timestamp(3) without time zone,
    "recipientName" text,
    "recipientNameNormalized" text,
    "lastAccessedAt" timestamp(3) without time zone,
    "customerId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProfileShare" OWNER TO postgres;

--
-- Name: ProfileShare_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."ProfileShare_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ProfileShare_id_seq" OWNER TO postgres;

--
-- Name: ProfileShare_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."ProfileShare_id_seq" OWNED BY public."ProfileShare".id;


--
-- Name: QuestionBank; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."QuestionBank" (
    id integer NOT NULL,
    text text NOT NULL,
    normalized text NOT NULL,
    "sortOrder" integer,
    source public."QuestionSource" DEFAULT 'SYSTEM'::public."QuestionSource" NOT NULL,
    "inputType" text DEFAULT 'general'::text NOT NULL,
    "selectOptions" text DEFAULT '[]'::text NOT NULL,
    "productId" integer,
    "customerId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "helperText" text
);


ALTER TABLE public."QuestionBank" OWNER TO postgres;

--
-- Name: QuestionBank_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."QuestionBank_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."QuestionBank_id_seq" OWNER TO postgres;

--
-- Name: QuestionBank_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."QuestionBank_id_seq" OWNED BY public."QuestionBank".id;


--
-- Name: SiteContent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SiteContent" (
    id integer NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    "updatedBy" text,
    "lastUpdated" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SiteContent" OWNER TO postgres;

--
-- Name: SiteContent_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."SiteContent_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."SiteContent_id_seq" OWNER TO postgres;

--
-- Name: SiteContent_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."SiteContent_id_seq" OWNED BY public."SiteContent".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    role text DEFAULT 'CUSTOMER'::text NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "passwordChangedAt" timestamp(3) without time zone,
    "emailPending" text,
    "emailPendingRequestedAt" timestamp(3) without time zone,
    "passwordPendingHash" text,
    "passwordPendingRequestedAt" timestamp(3) without time zone,
    "sessionsRevokedAt" timestamp(3) without time zone,
    "totpEnabled" boolean DEFAULT false NOT NULL,
    "totpSecret" text,
    "totpRecoveryId" text,
    "totpBackupCodes" text DEFAULT '[]'::text NOT NULL,
    "totpBackupCodesUpdatedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserConsent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserConsent" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    role text NOT NULL,
    "documentType" text NOT NULL,
    version text NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "consentedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "consentItems" text
);


ALTER TABLE public."UserConsent" OWNER TO postgres;

--
-- Name: UserConsent_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."UserConsent_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UserConsent_id_seq" OWNER TO postgres;

--
-- Name: UserConsent_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."UserConsent_id_seq" OWNED BY public."UserConsent".id;


--
-- Name: UserDevice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserDevice" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "deviceId" text NOT NULL,
    "lastIpPrefix" text,
    "lastUserAgent" text,
    "lastSeenAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserDevice" OWNER TO postgres;

--
-- Name: UserDevice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."UserDevice_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UserDevice_id_seq" OWNER TO postgres;

--
-- Name: UserDevice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."UserDevice_id_seq" OWNED BY public."UserDevice".id;


--
-- Name: UserSession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserSession" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "sessionId" text NOT NULL,
    ip text,
    "ipPrefix" text,
    "userAgent" text,
    city text,
    region text,
    country text,
    "locationLabel" text,
    latitude double precision,
    longitude double precision,
    "lastSeenAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "revokedAt" timestamp(3) without time zone
);


ALTER TABLE public."UserSession" OWNER TO postgres;

--
-- Name: UserSession_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."UserSession_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."UserSession_id_seq" OWNER TO postgres;

--
-- Name: UserSession_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."UserSession_id_seq" OWNED BY public."UserSession".id;


--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: Vehicle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Vehicle" (
    id integer NOT NULL,
    "customerId" integer NOT NULL,
    year integer NOT NULL,
    make text NOT NULL,
    model text NOT NULL,
    vin text NOT NULL,
    "primaryUse" text NOT NULL
);


ALTER TABLE public."Vehicle" OWNER TO postgres;

--
-- Name: Vehicle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Vehicle_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Vehicle_id_seq" OWNER TO postgres;

--
-- Name: Vehicle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Vehicle_id_seq" OWNED BY public."Vehicle".id;


--
-- Name: AdminUser id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdminUser" ALTER COLUMN id SET DEFAULT nextval('public."AdminUser_id_seq"'::regclass);


--
-- Name: AuditLog id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog" ALTER COLUMN id SET DEFAULT nextval('public."AuditLog_id_seq"'::regclass);


--
-- Name: Customer id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer" ALTER COLUMN id SET DEFAULT nextval('public."Customer_id_seq"'::regclass);


--
-- Name: CustomerQuestion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerQuestion" ALTER COLUMN id SET DEFAULT nextval('public."CustomerQuestion_id_seq"'::regclass);


--
-- Name: Driver id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Driver" ALTER COLUMN id SET DEFAULT nextval('public."Driver_id_seq"'::regclass);


--
-- Name: EmailOtp id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmailOtp" ALTER COLUMN id SET DEFAULT nextval('public."EmailOtp_id_seq"'::regclass);


--
-- Name: EmailOtpRequest id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmailOtpRequest" ALTER COLUMN id SET DEFAULT nextval('public."EmailOtpRequest_id_seq"'::regclass);


--
-- Name: ErrorEvent id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ErrorEvent" ALTER COLUMN id SET DEFAULT nextval('public."ErrorEvent_id_seq"'::regclass);


--
-- Name: FormSchema id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FormSchema" ALTER COLUMN id SET DEFAULT nextval('public."FormSchema_id_seq"'::regclass);


--
-- Name: LegalDocument id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LegalDocument" ALTER COLUMN id SET DEFAULT nextval('public."LegalDocument_id_seq"'::regclass);


--
-- Name: NotificationPreferences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationPreferences" ALTER COLUMN id SET DEFAULT nextval('public."NotificationPreferences_id_seq"'::regclass);


--
-- Name: Product id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product" ALTER COLUMN id SET DEFAULT nextval('public."Product_id_seq"'::regclass);


--
-- Name: ProfileShare id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfileShare" ALTER COLUMN id SET DEFAULT nextval('public."ProfileShare_id_seq"'::regclass);


--
-- Name: QuestionBank id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuestionBank" ALTER COLUMN id SET DEFAULT nextval('public."QuestionBank_id_seq"'::regclass);


--
-- Name: SiteContent id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SiteContent" ALTER COLUMN id SET DEFAULT nextval('public."SiteContent_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Name: UserConsent id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserConsent" ALTER COLUMN id SET DEFAULT nextval('public."UserConsent_id_seq"'::regclass);


--
-- Name: UserDevice id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserDevice" ALTER COLUMN id SET DEFAULT nextval('public."UserDevice_id_seq"'::regclass);


--
-- Name: UserSession id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSession" ALTER COLUMN id SET DEFAULT nextval('public."UserSession_id_seq"'::regclass);


--
-- Name: Vehicle id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Vehicle" ALTER COLUMN id SET DEFAULT nextval('public."Vehicle_id_seq"'::regclass);


--
-- Data for Name: AdminUser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CustomerQuestion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CustomerQuestion" (id, text, normalized, "formName", "productId", "customerId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Driver; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Driver" (id, "customerId", name, "licenseNo", "birthDate", relationship) FROM stdin;
\.


--
-- Data for Name: EmailOtp; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EmailOtpRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmailOtpRequest" (id, email, ip, "createdAt") FROM stdin;
37	jordan@connsura.test	127.0.0.1	2026-02-20 08:17:40.851
\.


--
-- Data for Name: ErrorEvent; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: FormSchema; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LegalDocument; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: NotificationLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: NotificationPreferences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PassportCustomQuestion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PassportCustomQuestion" (id, "productInstanceId", "questionText", "inputType", options, "orderIndex", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PassportProductInstance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PassportSectionResponse; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ProfileShare; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: QuestionBank; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SiteContent; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserConsent; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserDevice; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserSession; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Vehicle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Vehicle" (id, "customerId", year, make, model, vin, "primaryUse") FROM stdin;
\.


--
-- Name: AdminUser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AdminUser_id_seq"', 14, true);


--
-- Name: AuditLog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AuditLog_id_seq"', 1618, true);


--
-- Name: CustomerQuestion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."CustomerQuestion_id_seq"', 18, true);


--
-- Name: Customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Customer_id_seq"', 60, true);


--
-- Name: Driver_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Driver_id_seq"', 1, false);


--
-- Name: EmailOtpRequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."EmailOtpRequest_id_seq"', 37, true);


--
-- Name: EmailOtp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."EmailOtp_id_seq"', 37, true);


--
-- Name: ErrorEvent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ErrorEvent_id_seq"', 14, true);


--
-- Name: FormSchema_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."FormSchema_id_seq"', 9, true);


--
-- Name: LegalDocument_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."LegalDocument_id_seq"', 3, true);


--
-- Name: NotificationPreferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."NotificationPreferences_id_seq"', 53, true);


--
-- Name: Product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Product_id_seq"', 30, true);


--
-- Name: ProfileShare_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ProfileShare_id_seq"', 68, true);


--
-- Name: QuestionBank_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."QuestionBank_id_seq"', 596, true);


--
-- Name: SiteContent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SiteContent_id_seq"', 5, true);


--
-- Name: UserConsent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."UserConsent_id_seq"', 127, true);


--
-- Name: UserDevice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."UserDevice_id_seq"', 31, true);


--
-- Name: UserSession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."UserSession_id_seq"', 46, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 60, true);


--
-- Name: Vehicle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Vehicle_id_seq"', 1, false);


--
-- Name: AdminUser AdminUser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdminUser"
    ADD CONSTRAINT "AdminUser_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: CustomerQuestion CustomerQuestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerQuestion"
    ADD CONSTRAINT "CustomerQuestion_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: Driver Driver_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Driver"
    ADD CONSTRAINT "Driver_pkey" PRIMARY KEY (id);


--
-- Name: EmailOtpRequest EmailOtpRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmailOtpRequest"
    ADD CONSTRAINT "EmailOtpRequest_pkey" PRIMARY KEY (id);


--
-- Name: EmailOtp EmailOtp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmailOtp"
    ADD CONSTRAINT "EmailOtp_pkey" PRIMARY KEY (id);


--
-- Name: ErrorEvent ErrorEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ErrorEvent"
    ADD CONSTRAINT "ErrorEvent_pkey" PRIMARY KEY (id);


--
-- Name: FormSchema FormSchema_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FormSchema"
    ADD CONSTRAINT "FormSchema_pkey" PRIMARY KEY (id);


--
-- Name: LegalDocument LegalDocument_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LegalDocument"
    ADD CONSTRAINT "LegalDocument_pkey" PRIMARY KEY (id);


--
-- Name: NotificationLog NotificationLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationLog"
    ADD CONSTRAINT "NotificationLog_pkey" PRIMARY KEY (id);


--
-- Name: NotificationPreferences NotificationPreferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationPreferences"
    ADD CONSTRAINT "NotificationPreferences_pkey" PRIMARY KEY (id);


--
-- Name: PassportCustomQuestion PassportCustomQuestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PassportCustomQuestion"
    ADD CONSTRAINT "PassportCustomQuestion_pkey" PRIMARY KEY (id);


--
-- Name: PassportProductInstance PassportProductInstance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PassportProductInstance"
    ADD CONSTRAINT "PassportProductInstance_pkey" PRIMARY KEY (id);


--
-- Name: PassportSectionResponse PassportSectionResponse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PassportSectionResponse"
    ADD CONSTRAINT "PassportSectionResponse_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: ProfileShare ProfileShare_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfileShare"
    ADD CONSTRAINT "ProfileShare_pkey" PRIMARY KEY (id);


--
-- Name: QuestionBank QuestionBank_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuestionBank"
    ADD CONSTRAINT "QuestionBank_pkey" PRIMARY KEY (id);


--
-- Name: SiteContent SiteContent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SiteContent"
    ADD CONSTRAINT "SiteContent_pkey" PRIMARY KEY (id);


--
-- Name: UserConsent UserConsent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserConsent"
    ADD CONSTRAINT "UserConsent_pkey" PRIMARY KEY (id);


--
-- Name: UserDevice UserDevice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserDevice"
    ADD CONSTRAINT "UserDevice_pkey" PRIMARY KEY (id);


--
-- Name: UserSession UserSession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSession"
    ADD CONSTRAINT "UserSession_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Vehicle Vehicle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Vehicle"
    ADD CONSTRAINT "Vehicle_pkey" PRIMARY KEY (id);


--
-- Name: AdminUser_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "AdminUser_email_key" ON public."AdminUser" USING btree (email);


--
-- Name: CustomerQuestion_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerQuestion_customerId_idx" ON public."CustomerQuestion" USING btree ("customerId");


--
-- Name: CustomerQuestion_customerId_productId_formName_normalized_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CustomerQuestion_customerId_productId_formName_normalized_key" ON public."CustomerQuestion" USING btree ("customerId", "productId", "formName", normalized);


--
-- Name: CustomerQuestion_formName_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerQuestion_formName_idx" ON public."CustomerQuestion" USING btree ("formName");


--
-- Name: CustomerQuestion_normalized_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerQuestion_normalized_idx" ON public."CustomerQuestion" USING btree (normalized);


--
-- Name: CustomerQuestion_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CustomerQuestion_productId_idx" ON public."CustomerQuestion" USING btree ("productId");


--
-- Name: Customer_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Customer_userId_key" ON public."Customer" USING btree ("userId");


--
-- Name: EmailOtpRequest_email_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmailOtpRequest_email_createdAt_idx" ON public."EmailOtpRequest" USING btree (email, "createdAt");


--
-- Name: EmailOtpRequest_ip_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EmailOtpRequest_ip_createdAt_idx" ON public."EmailOtpRequest" USING btree (ip, "createdAt");


--
-- Name: EmailOtp_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EmailOtp_email_key" ON public."EmailOtp" USING btree (email);


--
-- Name: ErrorEvent_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ErrorEvent_createdAt_idx" ON public."ErrorEvent" USING btree ("createdAt");


--
-- Name: ErrorEvent_level_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ErrorEvent_level_idx" ON public."ErrorEvent" USING btree (level);


--
-- Name: ErrorEvent_source_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ErrorEvent_source_idx" ON public."ErrorEvent" USING btree (source);


--
-- Name: ErrorEvent_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ErrorEvent_userId_idx" ON public."ErrorEvent" USING btree ("userId");


--
-- Name: FormSchema_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "FormSchema_slug_key" ON public."FormSchema" USING btree (slug);


--
-- Name: LegalDocument_type_publishedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LegalDocument_type_publishedAt_idx" ON public."LegalDocument" USING btree (type, "publishedAt");


--
-- Name: LegalDocument_type_version_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "LegalDocument_type_version_key" ON public."LegalDocument" USING btree (type, version);


--
-- Name: NotificationLog_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "NotificationLog_createdAt_idx" ON public."NotificationLog" USING btree ("createdAt");


--
-- Name: NotificationLog_eventType_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "NotificationLog_eventType_createdAt_idx" ON public."NotificationLog" USING btree ("eventType", "createdAt");


--
-- Name: NotificationLog_providerMessageId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "NotificationLog_providerMessageId_key" ON public."NotificationLog" USING btree ("providerMessageId");


--
-- Name: NotificationLog_status_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "NotificationLog_status_createdAt_idx" ON public."NotificationLog" USING btree (status, "createdAt");


--
-- Name: NotificationLog_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "NotificationLog_userId_createdAt_idx" ON public."NotificationLog" USING btree ("userId", "createdAt");


--
-- Name: NotificationPreferences_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "NotificationPreferences_userId_key" ON public."NotificationPreferences" USING btree ("userId");


--
-- Name: PassportCustomQuestion_productInstanceId_orderIndex_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PassportCustomQuestion_productInstanceId_orderIndex_idx" ON public."PassportCustomQuestion" USING btree ("productInstanceId", "orderIndex");


--
-- Name: PassportProductInstance_adminProductId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PassportProductInstance_adminProductId_idx" ON public."PassportProductInstance" USING btree ("adminProductId");


--
-- Name: PassportProductInstance_customerId_updatedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PassportProductInstance_customerId_updatedAt_idx" ON public."PassportProductInstance" USING btree ("customerId", "updatedAt");


--
-- Name: PassportSectionResponse_productInstanceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PassportSectionResponse_productInstanceId_idx" ON public."PassportSectionResponse" USING btree ("productInstanceId");


--
-- Name: PassportSectionResponse_productInstanceId_sectionKey_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PassportSectionResponse_productInstanceId_sectionKey_key" ON public."PassportSectionResponse" USING btree ("productInstanceId", "sectionKey");


--
-- Name: Product_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_name_key" ON public."Product" USING btree (name);


--
-- Name: Product_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_slug_key" ON public."Product" USING btree (slug);


--
-- Name: ProfileShare_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ProfileShare_token_key" ON public."ProfileShare" USING btree (token);


--
-- Name: QuestionBank_customerId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "QuestionBank_customerId_idx" ON public."QuestionBank" USING btree ("customerId");


--
-- Name: QuestionBank_normalized_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "QuestionBank_normalized_key" ON public."QuestionBank" USING btree (normalized);


--
-- Name: QuestionBank_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "QuestionBank_productId_idx" ON public."QuestionBank" USING btree ("productId");


--
-- Name: QuestionBank_source_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "QuestionBank_source_idx" ON public."QuestionBank" USING btree (source);


--
-- Name: SiteContent_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "SiteContent_slug_key" ON public."SiteContent" USING btree (slug);


--
-- Name: UserConsent_documentType_version_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserConsent_documentType_version_idx" ON public."UserConsent" USING btree ("documentType", version);


--
-- Name: UserConsent_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserConsent_userId_idx" ON public."UserConsent" USING btree ("userId");


--
-- Name: UserDevice_userId_deviceId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserDevice_userId_deviceId_key" ON public."UserDevice" USING btree ("userId", "deviceId");


--
-- Name: UserDevice_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserDevice_userId_idx" ON public."UserDevice" USING btree ("userId");


--
-- Name: UserSession_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserSession_userId_idx" ON public."UserSession" USING btree ("userId");


--
-- Name: UserSession_userId_sessionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserSession_userId_sessionId_key" ON public."UserSession" USING btree ("userId", "sessionId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_totpRecoveryId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_totpRecoveryId_key" ON public."User" USING btree ("totpRecoveryId");


--
-- Name: AuditLog AuditLog_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public."AdminUser"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerQuestion CustomerQuestion_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerQuestion"
    ADD CONSTRAINT "CustomerQuestion_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CustomerQuestion CustomerQuestion_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CustomerQuestion"
    ADD CONSTRAINT "CustomerQuestion_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Customer Customer_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Driver Driver_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Driver"
    ADD CONSTRAINT "Driver_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ErrorEvent ErrorEvent_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ErrorEvent"
    ADD CONSTRAINT "ErrorEvent_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: NotificationLog NotificationLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationLog"
    ADD CONSTRAINT "NotificationLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: NotificationPreferences NotificationPreferences_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationPreferences"
    ADD CONSTRAINT "NotificationPreferences_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PassportCustomQuestion PassportCustomQuestion_productInstanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PassportCustomQuestion"
    ADD CONSTRAINT "PassportCustomQuestion_productInstanceId_fkey" FOREIGN KEY ("productInstanceId") REFERENCES public."PassportProductInstance"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PassportProductInstance PassportProductInstance_adminProductId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PassportProductInstance"
    ADD CONSTRAINT "PassportProductInstance_adminProductId_fkey" FOREIGN KEY ("adminProductId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PassportProductInstance PassportProductInstance_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PassportProductInstance"
    ADD CONSTRAINT "PassportProductInstance_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PassportSectionResponse PassportSectionResponse_productInstanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PassportSectionResponse"
    ADD CONSTRAINT "PassportSectionResponse_productInstanceId_fkey" FOREIGN KEY ("productInstanceId") REFERENCES public."PassportProductInstance"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileShare ProfileShare_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProfileShare"
    ADD CONSTRAINT "ProfileShare_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: QuestionBank QuestionBank_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuestionBank"
    ADD CONSTRAINT "QuestionBank_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: QuestionBank QuestionBank_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuestionBank"
    ADD CONSTRAINT "QuestionBank_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserConsent UserConsent_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserConsent"
    ADD CONSTRAINT "UserConsent_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserDevice UserDevice_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserDevice"
    ADD CONSTRAINT "UserDevice_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserSession UserSession_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserSession"
    ADD CONSTRAINT "UserSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Vehicle Vehicle_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Vehicle"
    ADD CONSTRAINT "Vehicle_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict 8tapceb3jeWJGiTGWbu0AswORm9T7nfHr0hAj7LcELRKF8bLNFe2Pv8fo1sBlqR

